.deparment-home-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding-block: 50px;
}

.deparment-home-section > img:first-child {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
}
.deparment-home-section > img:nth-child(2) {
  position: absolute;

  top: 20px;
  right: 0;
  z-index: -1;
}
.deparment-home-section > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  text-align: center;
  color: var(--secondary-accent);
}

.deparment-home-section .image-holders {
  position: relative;
  width: 400px;
  height: 400px;
}
.deparment-home-section .principal {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.deparment-home-section .secondary1 {
  position: absolute;
  right: -70px;
  top: -30px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  z-index: 5;
}

.deparment-home-section .secondary2 {
  position: absolute;
  left: -70px;
  bottom: -30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.deparment-home-section .diamond1 {
  position: absolute;
  right: -70px;
  bottom: -30px;
  width: 50px;
}

.deparment-home-section .diamond2 {
  position: absolute;
  left: -70px;
  top: -30px;
  width: 50px;
}

@media screen and (max-width: 1024px) {
  .deparment-home-section > img:first-child,
  .deparment-home-section > img:nth-child(2) {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .deparment-home-section > img:first-child,
  .deparment-home-section > img:nth-child(2) {
    width: 40%;
  }

  .deparment-home-section .image-holders,
  .deparment-home-section .principal {
    width: 300px;
    height: 300px;
  }

  .deparment-home-section .secondary1 {
    width: 140px;
    height: 140px;
  }

  .deparment-home-section .secondary2 {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .deparment-home-section > img:first-child,
  .deparment-home-section > img:nth-child(2) {
    width: 40%;
  }

  .deparment-home-section .image-holders,
  .deparment-home-section .principal {
    width: 200px;
    height: 200px;
  }

  .deparment-home-section .secondary1 {
    width: 100px;
    height: 100px;
    right: -50px;
    top: -50px;
  }

  .deparment-home-section .secondary2 {
    width: 50px;
    height: 50px;
    left: -40px;
    bottom: -20px;
  }
  .deparment-home-section > h2 {
    font-size: 36px;
    line-height: 57px;
  }
  .deparment-home-section .diamond1 {
    position: absolute;
    right: -40px;
    bottom: -30px;
    width: 30px;
  }

  .deparment-home-section .diamond2 {
    position: absolute;
    left: -40px;
    top: -30px;
    width: 30px;
  }
}
