.home-departments-item {
    position: relative;

    padding: 10px;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 50px;
    padding-block: 10px;

    background-color: var(--primary-color);
    box-shadow: 6px 9px 33px -6px rgba(15, 26, 58, 0.17);
    border-radius: 10px;

    text-align: center;
}

.home-departments-item:hover {
    background-color: var(--light-accent-color);
    transform: scale(1.01);
    cursor: pointer;
}

.home-departments-item h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: black;
}

.home-departments-item p{
    font-size: 14px;
}

.home-departments-item img {
    width: 35%;
    margin-top: -50px;
}

.home-departments-item div {
    height: 100%;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.home-departments-item p {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .home-departments-item img {
        width: 35%;
        margin-top: -40px;
    }
}

@media screen and (max-width: 468px) {
    .home-departments-item img {
        width: 35%;
        margin-top: -20px;
    }
}