.about-us-text-image-section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding-block: 50px;
}
.about-us-text-image-section img:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
.about-us-text-image-section h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
  color: var(--secondary-accent);
  z-index: 5;
}
.about-us-text-image-section div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.about-us-text-image-section div p {
  max-width: 40%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 51px;
  color: #080808;
}

.about-us-text-image-section div img {
  width: 40%;
  border-radius: 15px;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .about-us-text-image-section div p {
    font-size: 13px;
    line-height: 31px;
  }
  .about-us-text-image-section div img {
    width: 45%;
  }
  .about-us-text-image-section img:first-child {
    width: 55%;
  }
}

@media screen and (max-width: 480px) {
  .about-us-text-image-section div {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .about-us-text-image-section div p {
    max-width: 80%;
  }
  .about-us-text-image-section div img {
    width: 80%;
  }
}
