
.event-page {
    min-height: 100vh;
    margin-bottom: 120px;
    margin-top: 40px;
  }
  
  
  .event-page h1 {
    color:var(--primary-text);
    font-size: 2rem;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  .main-container {
    position: relative;
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .vertical-line {
    position: absolute;
    left: 50%;
    top: 5%;
    bottom: 0;
    width: 2px;
    background-color: var(--accent-color);
    transform: translateX(-50%);
  }
  
  .event-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 80px;
    position: relative;
    padding: 1rem;
  }
  
  .event-image-container {
    flex-basis: 40%; 
  }
  .event-image-container  img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
  }
  .event-description {
    flex-basis: 40%; 
    margin-left: 30px; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .event-description h2 {
    color: var(--primary-text);
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .event-description p {
    color: var(--primary-text);
    font-size: 1rem;
  }
  
  .event-description span {
    color: var(--primary-text);
    display: flex;
    gap: 0.5rem;
    min-width: 100%;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .event-description button {
    color: var(--primary-text);
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0rem;
    padding: 0.5rem 1rem;
    width: 130px;
    border: none;
    background-color: var(--accent-color);
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .event-description button:hover {
    transform: scale(1.05);
  }
  
  
  .circle {
    position: absolute;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--accent-color);
    border-radius: 50%;
    transform: translateX(-50%);
  }
  
 
  @media screen and (max-width: 1100px) {
    .event-description span {
        font-size: 0.9rem;
      }
  }
  

  @media(min-width:1440px){
    .event-page h1 {
        font-size: 2.7rem
      }
      .event-description h2 {
        font-size: 1.7rem;
      }
      
      .event-description p {
        font-size: 1.2rem;
      }
  }





/*   need mobile version */

@media (max-width:768px){
   
  .event-container{
    flex-direction: column;
    padding: 0;
  }
  .vertical-line{
    display: none;
  }
  .circle{
    display: none;
  }
  .event-image-container  img{
    width: 70%;
    
  }
  .event-description span {
    
    display: flex;
    
    font-size: 0.9rem;
    min-width: 100%;
  }
    
  .main-container {
    
    padding: 0;
  
  }

}

@media (max-width:420px){
  .event-page h1 {
    color:var(--primary-text);
    font-size: 1.7rem;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  .event-description h2 {
    color: var(--primary-text);
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .event-description p {
    color: var(--primary-text);
    font-size: 0.9rem;
  }
  .event-description span {
    
   
    flex-direction: column;
    font-size: 0.9rem;
    min-width: 100%;
  }
  .event-image-container  img{
    width: 90%;
    
  }
  .main-container {
    
    padding: 0;
  
  }
}