nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #0000004a;
  background-color: white;
  z-index: 1000;
}

nav img {
  width: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  list-style-type: none;
  transition: transform 0.3s ease;
}

nav ul li a {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-text);
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 2px solid var(--accent-color);
}

nav ul button {
  width: 140px;
  height: 40px;
  border: none;
  background: var(--accent-color);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

nav ul button:hover {
  background-color: var(--accent-hover);
}

.burger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }

  nav ul {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
    transform: translateX(-100%);
    z-index: 999;
  }

  .menu.open {
    transform: translateX(0);
  }

  nav ul li a {
    font-size: 18px;
  }

  nav ul button {
    width: 130px;
    height: 40px;
  }
}
