.contact-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 1rem auto;
  }
  
  .contact-container h1 {
    text-align: center;
    margin-bottom: 2rem;
    
    color: var(--primary-dark);
    font-size: 2rem;
  }
  
  .contact-content {
    display: flex;
    gap: 2rem;
    
   
    align-items: center;
  }
  
  .contact-infos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .contact-info {
    
    padding: 1.5rem;
    border-radius: 8px;
    
  }
  
  .contact-info h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color:var(--primary-dark) ;
  }
  
  .contact-info-description {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
  }
 
  .contact-info-description svg {
    font-size: 1.5rem;
    color: var(--accent-color);
    margin-top: 3px;
  }
  
  .contact-info-description p {
    margin: 0;
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-grey);
  }
  
  .iframe-container {
    flex: 1;
    height: 400px;
    width: 100%;
  }
  
  .iframe-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
@media (max-width:768px){
    .contact-container {
        
        max-width: 700px;
        
      }
      .contact-content {
        
        gap: 1rem;
        flex-direction: column;
        
      }

      .contact-infos{
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
      }
  .contact-container h1 {
    text-align: center;
    margin-bottom: 2rem;
    
    color: var(--primary-dark);
    font-size: 1.5rem;
  }
.contact-info{
display: flex;
flex-direction: column;
}
  .contact-info h2 {
   font-size: 1.3rem;
  }

  .contact-info-description {
    
    gap: 0.5rem;
    
  }
  .contact-info-description div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
  }
  .contact-info-description svg {
    font-size: 1.3rem;
    
  }
  
  .contact-info-description p {
    
    font-size: 1rem;
    
  }
  
  .iframe-container {
    
    width: 70%;
  }
}



@media (max-width: 580px) {
    .contact-container {
        padding: 1rem;
    }

    .contact-infos {
        flex-direction: column;
        gap: 0rem;
        
    }

    .contact-info {
        width: 100%;
        padding: 0.7rem;
    }

    .contact-info h2 {
        font-size: 1.2rem;
    }

    .contact-info-description svg {
        font-size: 1.2rem;
    }

    .contact-info-description p {
        font-size: 0.95rem;
    }

    .iframe-container {
        
        min-height: 6000px;
        width: 80%;
      }
}


  @media(min-width:1440px){
    .contact-container {
        
        max-width: 1400px;
        
      }
      .contact-content {
        
        gap: 0rem;
        justify-content: space-evenly;
        
      }
  .contact-container h1 {
    text-align: center;
    margin-bottom: 2rem;
    
    color: var(--primary-dark);
    font-size: 2.5rem;
  }

  .contact-info h2 {
   font-size: 1.7rem;
  }

  .contact-info-description {
    
    gap: 1rem;
    
  }
  .contact-info-description div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
  }
  .contact-info-description svg {
    font-size: 1.7rem;
    
  }
  
  .contact-info-description p {
    
    font-size: 1.3rem;
    
  }
  
  }