
.home-welcome {
    position: relative;

    padding: 80px;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding-block: 50px;
}

.home-welcome img:first-child {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home-welcome h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    align-self: start;

    color: var(--font-primary);
    z-index: 5;
}

#club{
    font-size: 80px;
}

#club span{
    color: var(--accent-color);
}

#club-desc{
    font-size: 24px;
}
  

.home-welcome button {
    width: 250px;
    height: 40px;
    border: none;
    background: var(--accent-color);
    border-radius: 10px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    z-index: 5;
}
  
.home-welcome button:hover {
    background-color: var(--accent-hover);
    color: var(--font-primary);
}

@media screen and (max-width: 768px) { 
    
    .home-welcome {
        position: relative;
    
        padding: 40px;
        width: 100%;
        height: auto;
    
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 25px;
        padding-block: 50px;
    }
    
    .home-welcome h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        align-self: start;
    
        color: var(--font-primary);
        z-index: 5;
    }
    
    #welcome{
        margin-top: 20px;
    }

    #club{
        font-size: 40px;
    }
    
    #club span{
        color: var(--accent-color);
    }
    
    #club-desc{
        font-size: 12px;
    }
      
    
    .home-welcome button {
        width: 125px;
        height: 40px;
        border: none;
        background: var(--accent-color);
        border-radius: 10px;
        font-size: 14px;
        font-weight: bolder;
        cursor: pointer;
        z-index: 5;
    }
      
    .home-welcome button:hover {
        background-color: var(--accent-hover);
        color: var(--font-primary);
    }
  }

@media screen and (max-width: 400px) { 

    .home-welcome {
        position: relative;

        padding: 0px 40px;
        width: 100%;
        height: auto;

        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 25px;
        padding-block: 50px;
    }

    .home-welcome h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        align-self: start;

        color: var(--font-primary);
        z-index: 5;
    }

    #welcome{
        margin-top: 13px;
    }

    #club{
        font-size: 23px;
    }

    #club span{
        color: var(--accent-color);
    }

    #club-desc{
        font-size: 10px;
    }


    .home-welcome button {
        width: 125px;
        height: 40px;
        border: none;
        background: var(--accent-color);
        border-radius: 10px;
        font-size: 14px;
        font-weight: bolder;
        cursor: pointer;
        z-index: 5;
    }

    .home-welcome button:hover {
        background-color: var(--accent-hover);
        color: var(--font-primary);
    }
}